.main-product{
    max-width: 1300px;
    height: auto;
    display: flex;
    margin: 30px auto;

    .choose{
        flex-basis: 25%;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 1500px;

        h3{
            font-weight: bold;
            color: rgb(235, 106, 0);
        }

        ul{
            width: 100%;
            margin: 15px 10px 15px;
        }
        ul li{
            list-style: none;
            color: black;
            padding: 5px;
            cursor: pointer;
        }
        .choose-li{
            background-color: lightgrey;
        }
        .choose-li-none{
            background-color: white;
        }
        li:hover{
            background-color: lightgrey;
        }
        a{
            text-decoration: none;
            color: black;
        }
        ul:nth-child(1){
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            li{
                flex: 1;
                margin: 0 5px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                // font-weight: bold;
            }
            li:before{
                content: "";
                position: absolute;
                width: 100%;
                height: 80%;
                top: 10%;
                left: 0;
                border-right: 2px solid lightgrey;
                z-index: -1;
            }
        }

        table{
            width: 100%;
            th{
                text-align: center;
                border: 1px solid lightgrey;
                font-weight: lighter;
                padding: 10px;
                cursor: pointer;

                div{
                    width: 30px;
                    height: 30px;
                    margin: auto;
                }
            }
        }

    }
    .product-list{
        flex: 1;
        margin: 20px;
        display: flex;
        flex-direction: column;


        img{
            width: 100%;
        }
    }
}
.color1{
    background-color: red;
}
.color2{
    background-color: orange;
}
.color3{
    background-color: yellow;
}
.color4{
    background-color: green;
}
.color5{
    background-color: blue;
}
.color6{
    background-color: grey;
}
.color7{
    background-color: purple;
}
.color8{
    background-color: rgb(68, 170, 196);
}
.color9{
    background-color: black;
}
.color10{
    background-color: brown;
}
.color11{
    background-color: rgb(226, 224, 224);
}
.color12{
    background-color: rgb(166, 95, 247);
}


.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 50px auto;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: black;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }